[2019-04-15 01:27] mlevit-servian opened #1 "Web app to expose DynamoDB settings and whitelist tables"
Auto Cleanup interacts with two tables that live within DynamoDB (`auto-cleanup-settings` and `auto-cleanup-whitelist`). In order to enable users to interact with both of these tables in a more user friendly way, a simple to use web app (preferably static in nature) would need to be built.

**Settings**

The settings page should simple expose the table allowing addition, modification and deletion

[2019-04-15 20:48] prabhu opened #3 "Consider adding .gitignore and remove .serverless directory"
Nice project!

Also consider tweaking `ReadCapacityUnits` etc and set it to a lower number to reduce cost further.

[2019-04-16 00:17] JacobHughes opened #4 "Consider refactoring python module directories"
Have you considered refactoring the python code into module directories?

[2019-04-16 07:53] maratlevit commented on #3
Thanks for raising the suggestion... Done in 0948c16.

[2019-04-16 07:53] #3 closed

[2019-04-16 10:45] mvisonneau opened #6 "Terraform state parser to determine whitelist"
It might be cool to have an automated way to determine the whitelist map. Like be able to pass an argument to specify an S3 bucket containing `.tfstate` files and iterate over them maybe 🤔

[2019-04-16 12:31] maratlevit opened #7 "Amazon Redshift support"
Resource types
* Clusters
* Snapshots

[2019-04-16 12:33] maratlevit opened #8 "Amazon EMR support"
Resource types
* Clusters
* Notebooks

[2019-04-16 12:34] mlevit-servian opened #9 "Amazon SageMaker support"
Resource types
* Notebook instances
* Endpoints

[2019-04-17 03:00] maratlevit opened #10 "DynamoDB values are overwritten each time the app runs"
Each invocation of the app will overwrite all records in the two DynamoDB tables with the default values (new records will no be altered).

[2019-04-17 03:49] #7 closed

[2019-04-17 03:49] #10 closed

[2019-04-17 04:41] maratlevit commented on #4
Please see similar standards at https://realpython.com/python-application-layouts/#application-with-internal-packages

[2019-04-17 04:41] #4 closed

[2019-04-22 08:31] s0undt3ch opened #18 "Question/Feature Request"
The documentation suggests that the type for `ttl` is an integer for the number of days.

The question is, can it be a float to represent the number of hours in a day?

If not, the feature request would be to either switch `ttl` to be the number of hours or for it to accept floats for fractions of days.

The reason behind this question/feature request is because we'd like to configure this for our

[2019-04-22 09:54] maratlevit commented on #18
Hey @s0undt3ch. The `ttl` field is a DynamoDB NUMBER type which can store both integers and floating point numbers. However the way Auto Clean calculates the difference is based on datetime minus datetime in days.

This could be changed to hours without too much effort. I'll sit on this for a little to figure out the best way to implement this. It might be as simply as changing the `ttl` to hours

[2019-04-22 09:56] s0undt3ch commented on #18
Whatever suites best for the project.

[2019-04-22 11:01] mlevit-servian opened #19 "Amazon ECS support"

[2019-04-22 11:02] maratlevit opened #20 "AWS Elastic Beanstalk support"

[2019-04-22 11:02] mlevit-servian opened #21 "Add EKS Cluster support"

[2019-04-22 21:50] KenanAlptekin opened #22 "Error with serverless deploy"
I'm running the latest version of serverless, but seem to get errors on my sls deploy command. I've configured my profile, company, and region in my serverless.yml file. Any ideas what could be causing this error on deploy?

[code]

[2019-04-22 21:59] maratlevit commented on #22
Hey mate,

I believe I had this issue too. It has something to do with Homebrew `pip`. Try this fix https://stackoverflow.com/a/24357384

[2019-04-22 22:17] KenanAlptekin commented on #22
thank you @maratlevit that solved my problem. Much appreciated! I'm closing this issue.

[2019-04-22 22:17] #22 closed

[2019-04-23 09:59] #8 closed

[2019-04-23 12:33] maratlevit opened #24 "AWS IAM support"
- Roles (https://aws.amazon.com/blogs/security/automate-analyzing-permissions-using-iam-access-advisor/)
- Users

[2019-04-23 12:35] maratlevit opened #25 "AWS Security Groups support"

[2019-04-24 01:09] #25 closed

[2019-04-25 03:36] #24 closed

[2019-04-29 17:47] reynico opened #28 "serverless remove fails when trying to delete a non empty S3 bucket"
[code]

[2019-04-30 00:17] maratlevit commented on #28
Hey @reynico, looks like this isn't supported by Serverless or CloudFormation itself. However this was opened as an issue (https://github.com/serverless/serverless/issues/3928) and closed with the resolution that someone had already made a Serverless plugin to deal with it: https://github.com/sinofseven/serverless-s3-remover

When I have time I'll add the plugin to prevent these errors from coming

[2019-04-30 05:11] JacobHughes commented on #1
I would recommend starting this feature with an API & other required backing services, and supply two endpoints - `POST` to add a resource to the whitelist, `PUT` to increase the TTL for a whitelisted item, `GET` to check if a resource is listed and retrieve the TTL, and `DELETE` to remove an item from the whitelist.

[2019-04-30 05:34] #28 closed

[2019-05-01 19:46] #20 closed

[2019-05-27 13:47] tianomagdaong opened #31 "Fail to evaluate volumes with empty attachments"
https://github.com/servian/aws-auto-cleanup/blob/c6ea79d576f46bf1b66d344c1baa00bfcc9c5987/auto-cleanup/ec2_cleanup.py#L305

Current condition fails to detect empty lists return by "resource.get('Attachments')" .

[2019-05-27 22:56] #31 closed

[2019-09-27 09:53] lovepurohit commented on #19
Hello melvit-servian,

I would like to work on this issue. I will add the functionality to remove the ECS and all its associated details. Can I work on this issue.

Thank you

[2019-09-27 12:27] mlevit commented on #19
@lovepurohit that would be great. Fork the repo and send through a PR when you're ready 👍

[2019-09-30 05:48] lovepurohit commented on #19
@mlevit Sure. I'll raise a PR till the end of the week.

Thank you

[2019-12-12 09:29] samit2040 opened #37 "[ERROR] Could not read DynamoDB table 'auto-cleanup-whitelist-prod'."
**Describe the bug**
The get_whitelist() method of lambda_handler.py is unable to read data from auto-cleanup-whitelist-prod table
auto-cleanup-whitelist-prod table exists

**Expected behavior**
The get_whitelist() method of lambda_handler.py must be able to read data from auto-cleanup-whitelist-prod table

**Screenshots**
![image](https://user-images.githubusercontent.com/7814312/70699809-b786128

[2020-02-28 18:03] andreirymar opened #40 "[ERROR] Could not generate resource tree. (lambda_handler.py, build_tree(), line 352)"
Everything runs Okay but at the end resource tree cannot be created and copied to s3 bucket.
See last lines I see in Lambda function output.

[INFO] Auto Cleanup completed. (lambda_handler.py, run_cleanup(), line 168)
00:40:31
[ERROR] Could not generate resource tree. (lambda_handler.py, build_tree(), line 352)
00:40:31
[ERROR] invalid syntax (_base.py, line 414) (lambda_handler.py, build_tree(),

[2020-02-29 05:50] mlevit commented on #40
@andreirymar can you head into CloudWatch for this run and send through the logs? Remove anything private from there. I'd like to see where exactly it failed.

[2020-02-29 05:55] #37 closed

[2020-02-29 18:20] andreirymar commented on #40
Here's complete output from CloudWatch in attached file.

[CloudWatch logs for AutoCleanup.txt](https://github.com/servian/aws-auto-cleanup/files/4270717/CloudWatch.logs.for.AutoCleanup.txt)

[2020-02-29 22:04] mlevit commented on #40
Thanks for that @andreirymar. It looks like you're getting the same error as another user was. I just merged a fixed in #41 that hopefully should fix the DynamoDB error. Could you pull the latest changes and try running it again.

It might not fix the tree building issue, but at least it'll get rid of one of them.

[2020-03-03 09:44] samit2040 commented on #37
@mlevit , appreciated and thanks for update

[2020-03-08 01:55] andreirymar commented on #40
I think it made it even worse. After I removed everything and did a clean get and deploy, even the first run fails, see attached error logs.
[CloudWatch logs for AutoCleanup March-7-2020.txt](https://github.com/servian/aws-auto-cleanup/files/4302722/CloudWatch.logs.for.AutoCleanup.March-7-2020.txt)

[2020-04-16 14:23] dfaulks-ops opened #43 "Question/Feature Request"
Just a quick question. I am looking into implementing this into my environment however I was wondering if there was a way to adapt this to utilizing tags instead of TTL?

The reason behind this is we often have ec2 instances brought up with either incorrect tags or in some cases large ec2 instances that have been forgotten. This is becoming quite costly. With the ability to use this cleanup method

[2020-05-20 23:56] kviliev opened #45 "[ERROR] [Errno 2] No such file or directory: 'auto_cleanup/data/auto-cleanup-settings.json' (lambda_handler.py, setup_dynamodb(), line 283)"
**Describe the bug**
For the first time after deployment lambda executed in 'DRY' mode as by default. I changed the rate of the lambda execution to 'every 5 minutes' then and the mode to 'DESTROY'. It executed successfully the first time and cleaned up the resources. After that, it started logging this error message for any of the next executions.

START RequestId: 4438f2ea-325f-4e23-b75c-03dc8eaf

[2020-05-21 00:42] mlevit commented on #45
Hey @kviliev that's strange, nothing deletes the settings file. Can you have a look into the Lambda function package within the `data` directory to see if the file exists or not?

[2020-05-21 00:43] mlevit commented on #43
Hey @dfaulks-ops apologies for the delayed response. You can actually achieve this using AWS Organisations. You can set up a tagging policy and if those tags aren't used, the EC2 instances can be shutdown. Have a look into that to see if it'll help.

[2020-05-21 11:31] dfaulks-ops commented on #43
Thank you for your response. I will have a look into that now! Have a great
day.

On Wed, May 20, 2020 at 8:44 PM Marat Levit <notifications@github.com>
wrote:

--
Derrick Faulks
System Administrator CoLinx, LLC.
O 864.777.9025 M 803.569.0094

[2020-05-21 11:40] kviliev commented on #45
Hi @mlevit , yes - all the files are there(from the `data` directory) - locally and in from the lambda package - the s3 bucket. I tried deploying/testing multiple times. I tried from a different host and to a different AWS account as well. I always run into this issue. Also, this error appeared a few times:

`
[ERROR] An error occurred (ConditionalCheckFailedException) when calling the PutItem ope

[2020-07-03 02:58] andreirymar opened #46 "Security group used in auto scaling group launch configuration"
Security group used in auto scaling group launch configuration

[2020-07-03 02:59] andreirymar commented on #46
Security group used in auto scaling group launch configuration has been deleted and now auto-scaling group cannot launch EC2 instances.

[2020-07-03 03:18] mlevit commented on #46
Hey @andreirymar, please add the security group to the DynamoDB whitelist table. See https://github.com/servian/aws-auto-cleanup#whitelist for configuration settings.

[2020-07-03 12:52] andreirymar commented on #46
The deleted security group was part of whitelisted cloud formation. Is that not enough to whitelist cloud formation stack ?

[2020-07-05 23:37] mlevit commented on #46
Unfortunately not. Everything is mutually exclusive. You've protected the CloudFormation stack from being deleted, but everything within that stack will be accessed on its own.

[2020-07-09 01:25] #46 closed

[2020-07-09 01:26] mlevit commented on #45
@kviliev have you managed to resolve this issue?

[2020-07-09 01:26] #43 closed

[2020-07-09 01:26] #6 closed

[2020-08-17 16:19] tmx-dxiao opened #49 "Generate a report on what resources are deleted and what are whitelisted with some level of operational detail"
**Is your feature request related to a problem? Please describe.**
we are frustrated when we need to generate a report on actions, e.g. what resources are deleted or whitelisted and when. It appears that CW logs has everything logged including when a resource is cleaned up or deleted, but it's all plain text and not so straightforward to extract those actions from all the logs in an organized way.

[2020-09-24 21:13] dependabot-preview[bot] opened #51 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/servian) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/servian/update-logs/48642639).

[2020-09-27 21:12] #51 closed

[2020-09-29 02:06] #45 closed

[2020-09-29 02:09] mlevit commented on #49
@tmx-dxiao I think that's a good idea. I think the best way to make that data queriable would be to export it to a CSV file and have it sit in an S3 bucket. That way you can use Athena to query the data. DynamoDB is great and all, but it's not very useful for data interrogation.

[2020-10-05 03:52] #49 closed

[2020-10-05 03:53] #40 closed

[2020-10-05 04:52] #18 closed

[2020-10-05 16:07] andreirymar opened #53 "SG has been whitelisted but still deleted."
**Describe the bug**
SG has been whitelisted but still deleted.

**To Reproduce**
from CloudWatch logs
[INFO] EC2 Security Group 'sg-09d066f32959feb7d' is not associated with an EC2 instance and has been deleted. (ec2_cleanup.py, security_groups(), line 293)

Entry in DynamoDB as below
resource_id  String:	ec2:security_group:sg-0127c8a90d0070711

**Expected behavior**
I was expecting the process t

[2020-10-05 22:26] mlevit commented on #53
Hey @andreirymar I've noticed the SG you whitelisted `sg-0127c8a90d0070711` is different to the SG in the logs that was deleted `sg-09d066f32959feb7d`. Can you please confirm if this is still an issue?

[2020-10-06 05:56] mlevit commented on #46
@andreirymar I've just merged a changed #55 that will now whitelist all resources within a CloudFormation Stack if the CloudFormation Stack was not deleted due to a whitelist entry or TTL.

You can now just whitelist the Stack without having to worry about the underlying resources.

[2020-10-06 12:17] andreirymar commented on #53
sorry, posted wrong config from DynamoDB.
This is what is in there.

resource_id   String  : ec2:security_group:sg-09d066f32959feb7d

[2020-10-06 23:08] mlevit commented on #53
I just ran a test with two security groups, one whitelisted, the other not. Everything seems to be working as intended:

[code]

[code]

My whitelist record is

[code]

Can you verify if this was the only SG that whitelisted and deleted or have you found other cases too? Can you show your DynamoDB JSON of the record?

[2020-10-15 06:36] mlevit commented on #19
Added in 5ad5332452d153b7d94c853f65538439c09b3ebc

[2020-10-15 06:36] #19 closed

[2020-10-15 06:38] mlevit commented on #9
Added in 93bd6894f705bf3da80bccead4d8366002fa44fb

[2020-10-15 06:38] #9 closed

[2020-10-15 06:38] mlevit commented on #53
Closing the issue due to inactivity.

[2020-10-15 06:38] #53 closed

[2020-10-22 02:27] #1 closed

[2020-10-22 13:10] mlevit opened #58 "Add Cloud9 Environment support"

[2020-10-22 13:11] mlevit opened #59 "Add ElastiCache Cache Cluster support"

[2020-10-22 13:12] mlevit opened #60 "Add Managed Streaming for Kafka Cluster support"

[2020-10-22 13:15] mlevit opened #61 "Add Batch Job Queue support"

[2020-10-22 13:16] mlevit opened #62 "Add Batch Compute Environment support"

[2020-11-13 01:01] #59 closed

[2020-11-13 01:08] #60 closed

[2020-11-24 10:26] #21 closed

[2020-12-14 01:22] troydieter opened #71 "Cognito support for Web feature"
**Is your feature request related to a problem? Please describe.**
Add a secondary module that secures the Web deployment with AWS Cognito.

**Describe the solution you'd like**
For API - limit access to only the web portion using an AWS IAM role & associated policy to add items to the DDB table\whitelist.
For Web - AWS Cognito secured through a user pool

**Describe alternatives you've considered

[2020-12-14 22:24] mlevit commented on #71
Hey @troydieter,

Thanks for raising the feature requests. I've been thinking about this for a while too but not exactly sure the best route to take. Would love some feedback from yourself or the community.

Whilst there are a few things I can do that aren't so complex (i.e., make the API private and accessible via API keys), some things like Cognito integration is probably a little more complex a

[2021-02-01 10:13] miki79 opened #78 "Restrict API access by IP"
At the moment when you deploy the API, there is no security mechanism in place, so everybody that can access the API can change the whitelist and look at the resources.

A quick solution to block the access would be via IP restriction, so that the frontend web app wouldn't require any changes.

To restrict access by IP, it would be possible to use the resource policy for the API gateway and set it

[2021-02-01 10:14] miki79 commented on #78
I'm happy to create a PR, but I'd like to discuss how you prefer to setup the IP range

[2021-02-01 20:55] mlevit commented on #78
Hey @miki79 thanks for the recommendation. I think the easiest way to secure the API is to make it private.

[code]

The private key is generated and needs to be passed in for each API request. The trick here is to pass that generated key to the web application during deployment. Are you able to look into this?

[2021-02-02 08:33] miki79 commented on #78
if you pass and embed the private key into the web application, you still have the problem that whoever knows the url of the web application can access and modify the data. I think it makes more sense to don't bake the key inside the web application but pass it on the query parameter when you open it.
Even if it's not best practice from security point of view, you could bookmark the url of the web

[2021-02-02 17:29] miki79 commented on #78
I implemented some changes to have the API secured with API key, and the setup of the key on the first load of the application (the key is stored in localStorage on the browser)
![insert-key](https://user-images.githubusercontent.com/1433184/106638617-fb834900-657b-11eb-9ece-17e7b024f66a.jpg)

![reset-button](https://user-images.githubusercontent.com/1433184/106638641-01792a00-657c-11eb-8aeb-af105

[2021-02-02 22:10] mlevit commented on #78
Hey @miki79 I like it. Thanks for putting the effort in. I guess this way we kill two birds with one stone, we secure the API and the website.

Raise the PR and we'll do a review and merge :)

[2021-02-04 22:09] #78 closed

[2021-02-04 22:14] mlevit commented on #71
@troydieter have a look at the recent PR from @miki79 #79. I think it's a great balance between security and ease of use that just might be enough.

[2021-02-04 22:34] troydieter commented on #71
Thanks Marat and @miki79 ! Looks good, and simple enough to integrate with on the serverless stack. I'll start testing with it.

[2021-03-18 02:44] #71 closed

[2021-09-02 12:31] mcueva10 opened #81 "EC2 instances are not being detected as part of the cleanup."
I am focusing on cleaning up EC2 resources including elastic IPs, images, instances, security groups, snapshots, and volumes. When I run the cleanup, all of the resources for EC2 appear in the execution log except EC2 instances. I verified that the AWS account has EC2 instances older than the TTL setting that I set, the role running the app lambda has the EC2 access needed and no errors show up in

[2021-09-03 00:22] mlevit commented on #81
@mcueva10 can you please deploy the "app" from branch https://github.com/servian/aws-auto-cleanup/tree/ec2-fix and see if that fix has worked for you?

[2021-09-03 02:01] mcueva10 commented on #81
This worked, thanks! So the issues were the filter that was being applied and the "is_cleaning_enabled" value right?

[2021-09-03 02:05] mlevit commented on #81
The filter was actually on the AWS API side. I was filtering on EC2 instances in a state of `running` or `stopped` but when I looked back at that filter, it was comparing the wrong attribute :) Woops

[2021-09-03 02:11] #81 closed

[2021-09-03 02:39] mcueva10 opened #83 "How can the time zone for the execution log dates be changed?"
The date shown for the execution logs is currently in Coordinated Universal Time (UTC). I would like to change the time zone to Eastern Standard Time (EST).

[2021-09-03 04:09] mlevit commented on #83
@mcueva10 which one specifically? Screenshot would help :)

[2021-09-03 04:13] mcueva10 commented on #83
The execution log CSV file date. Attached screenshot, thanks![](url)
![exec-log-date](https://user-images.githubusercontent.com/68252360/131949510-2b62c48f-348e-4720-a0f9-b6fef23d719a.png)

[2021-09-03 04:15] mlevit commented on #83
Oh yeah, actually something I've tried before but couldn't get working. I was trying to get the browser's timezone and convert the date. Let me try something again and see if I can get it working.

[2021-09-03 04:20] mcueva10 opened #84 "Modify the account number header in the top-right corner to show the account alias as well"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like for the header in the top right that shows the account number to show the account alias as well.

**Describe alternatives you've considered**
An output for the account alias could be added and then be referred to in the index.js file.

**Additional context**
Attached screenshot

[2021-09-03 04:21] mcueva10 commented on #83
Ok thanks, I will also look into it

[2021-09-03 04:36] mlevit commented on #83
@mcueva10 test https://github.com/servian/aws-auto-cleanup/tree/execution-date-local-time for me

[2021-09-03 05:01] mcueva10 commented on #83
This is working, appreciate the help!

[2021-09-05 23:25] mlevit commented on #84
No way of achieving this via a CloudFormation output. One way would be via a custom API. Not sure if worth the effort.

[2021-09-08 16:56] atqhg23 opened #86 "Show the resource age in the execution log"
**Is your feature request related to a problem? Please describe.**

Yes, the execution log shows the "SKIP - TTL"  action for resources that are under the TTL setting, but it would be useful to know the exact resource age to see how long it will be until a resource is destroyed. This can also be useful in determining what the TTL setting should be set to. I think it would help to include the resou

[2021-09-08 17:13] mcueva10 commented on #84
Got it, thanks for the response

[2021-09-08 18:51] mcueva10 commented on #86
Kept thinking about this and I think adding these 3 columns to the execution log may be a good idea:

- **Age**: Resource age in days
- **Destroy In**: The number of days until the resource is destroyed based on the time to live setting.
- **Signal**: This would be either Green (below 50% of the TTL), Yellow (above 50% of the TTL), or Red (past the TTL).

Below is a screenshot of what this may end

[2021-09-08 22:52] #84 closed

[2021-09-08 23:10] mcueva10 opened #87 "Send email notification with exec log report attached 3 days before the actual cleanup takes place"
**Is your feature request related to a problem? Please describe.**

Yes, the problem is that when dry-run is off, you do not know what actions the cleanup will take until it actually runs. Currently, dry-run mode can be turned on to view the execution log, but I would like to keep dry-run off, and also generate a report prior to the cleanup taking place. The goal is to allow for some time to revie

[2021-09-08 23:21] #83 closed

[2021-09-08 23:39] mcueva10 commented on #10
I have a question about this issue, just to make sure I am understanding correctly. Every time the app lambda was invoked, this would overwrite all the default values like TTL, regions targeted, permanent whitelist items etc., but would keep new whitelist items that were added the same?

Just wanted to make sure since I am interested in overwriting the default values every time the lambda is invok

[2021-09-08 23:45] mlevit commented on #10
@mcueva10 the `auto-cleanup-settings.json` file contains a `version` key. That key is compared on the application run and the data is inserted if the key in the file is greater than in the table. This generally only occurs when I add support for a new service.

The whitelist is inserted each time.

[2021-09-09 00:04] mcueva10 commented on #10
Oh ok thanks

[2021-09-09 01:55] mcueva10 opened #88 "What needs to be changed to change the name of the execution log CSV files?"
**Is your feature request related to a problem? Please describe.**
No, I am just trying to change the name of the execution log CSV files.

**Describe the solution you'd like**
I am trying to change the name of the execution log CSV files, and I changed the value in the `app/src/main.py` file. Below is what I changed:

Line 527
`key = f"""{now.strftime("%Y")}/{now.strftime("%m")}/execution_log_{no

[2021-09-09 02:04] mlevit commented on #88
You'll need to look into https://github.com/servian/aws-auto-cleanup/blob/master/api/src/execution_log/list.py#L36

[2021-09-09 02:50] mcueva10 commented on #88
Apologies I'm not too familiar with Boto3 or Python. Can you explain what this part is doing `key[22:41]`? I looked into the strptime() method, but am not sure about this part and how it's changing the string to create the date time object.

I am trying to change the name of the S3 object from `execution_log_2020_10_20_09_23_44.csv` to `destroy_log_2020_10_20_09_23_44.csv`

[2021-09-09 03:09] mlevit commented on #88
`key[22:41]` means we're extracting the characters from index `22` to index `41`. In other words, we're extracting `2020_10_20_09_23_44` from the file name.

[2021-09-09 03:10] mcueva10 commented on #88
Ahh got it, thanks!

[2021-09-09 03:11] #88 closed

[2021-09-09 03:15] mlevit commented on #87
@mcueva10 I do understand where you're coming from but this is not something I'm willing to implement as I don't believe it adds the right level of value.

The tool was aimed to be used organisation-wide where all employees could pre-emptively whitelist their resources. The execution log is not meant to be a reminder of resources that will be destroyed, rather than actions taken.

Dry run mode is

[2021-09-09 03:15] #87 closed

[2021-09-09 03:21] mcueva10 commented on #87
I see, thanks for your input

[2021-09-09 04:29] mcueva10 opened #89 "How to hide whitelist entries/items that are in the permanent whitelist?"
**Is your feature request related to a problem? Please describe.**
No, sorry to keep bombarding with questions. I am trying to hide the items that are part of the permanent whitelist. I've been testing trying to make changes to the index files and css file, but have not gotten this working.

**Describe the solution you'd like**
Hide the items in the permanent whitelist.

**Describe alternatives yo

[2021-09-09 23:28] mcueva10 commented on #89
Change line 180 in the [index.html file](https://github.com/servian/aws-auto-cleanup/blob/master/web/src/index.html) from this

`<tr v-for="item in whitelist" :key="item.row_id">`

to this

`<tr v-for="item in whitelist" :key="item.row_id" v-if="item.expiration < '4102444800'">`

[2021-09-09 23:28] #89 closed

[2021-09-21 18:55] atqhg23 opened #90 "Security group attached to load balancer shows delete action in execution log when it is in use"
**Describe the bug**
The execution log is showing that a security group will be deleted even though it is attached to a load balancer.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new security group and attach it to a load balancer only
2. Run the cleanup in dry_run mode
3. Check the execution log entry for the security group
4. The action will say delete when it should skip it

[2021-09-21 19:09] atqhg23 commented on #90
I see this is not a bug and is done intentionally. Will close this and submit feature request.

[2021-09-21 19:09] #90 closed

[2021-09-21 22:51] mlevit commented on #90
@atqhg23 the major problem with security group cleanup is they can be attached to multiple services such as EC2, RDS, Load Balancer and more. Right now I'm only checking for their attachment to EC2 instances.

I wonder if there's a way of listing all resources currently using the security group.

[2021-09-21 22:55] atqhg23 commented on #90
I'm about to test this, but I'm assuming this would also be the case with elastic IPs (addresses) as well since they can be used by ECS?

[2021-09-21 22:58] mlevit commented on #90
So I found a [way](https://aws.amazon.com/premiumsupport/knowledge-center/ec2-find-security-group-resources/). `describe_network_interfaces` will return all resources used by the security group.

I can modify the code to check this before proceeding with the delete.

[2021-09-21 22:58] atqhg23 commented on #90
Ah looks like this is it, network interfaces cab be used to check for security group use: https://aws.amazon.com/premiumsupport/knowledge-center/ec2-find-security-group-resources/

[2021-09-21 23:03] atqhg23 commented on #90
One thing to point out, I think it's still detecting that they are in use, or it's not able to delete security groups in use.

I have a security group attached to a load balancer right now, and the exec log said it would delete it in dry-run mode. When I turned off dry-run mode and ran the cleanup, the action shows "skip - in use".

[2021-09-21 23:09] mlevit commented on #90
Correct. The dry run mode has no way of knowing if the resource would actually be deleted or not, it's only an assumption. When the script attempts the delete, it'll catch a `DependencyViolation` exception and record the resource as `SKIP - IN USE`.

However, I think it would be better to add this new logic using `describe_network_interfaces`.

[2021-09-21 23:20] atqhg23 commented on #90
ah ok I see. One other thing I just noticed is that when I add a security group to the whitelist, the action appears blank instead of saying "SKIP - WHITELIST".

[2021-09-21 23:22] mlevit commented on #90
Can you raise that as a separate issue? Should be a quick fix.

[2021-09-21 23:23] atqhg23 commented on #90
Yeah, will do.

[2021-09-21 23:28] atqhg23 opened #91 "Security groups added to the whitelist showing blank action in execution log when it should say "SKIP - WHITELIST""
**Describe the bug**
When a security group is added to the whitelist, the action in the execution log is blank.

**To Reproduce**

1. Add a security group to the whitelist
2. Run the cleanup with dry-run on/off
3. Check the execution log action for the security group added to the whitelist
4. The action appear blank

**Expected behavior**
The execution log action should say "SKIP - WHITELIST"

**A

[2021-09-21 23:32] atqhg23 commented on #90
Question for you. I was testing edge cases like adding a volume attached to an EC2 instance to the whitelist, but keeping the instance off the whitelist to see if the volume would be destroyed when the instance was destroyed.

The execution log shows the volume was skipped because it was part of the whitelist, but it was actually deleted. I'm assuming this happened because the volume had the delet

[2021-09-22 03:20] mlevit commented on #91
Can you please test https://github.com/servian/aws-auto-cleanup/tree/security-group-fix

[2021-09-22 03:24] mlevit commented on #90
Based on AWS's documentation

[code]

Can you confirm if yours was launched along with the instance?

[2021-09-22 06:26] atqhg23 commented on #90
Yes, the volumes were launched with the instance and the DeleteOnTermination flag was set to true.

So adding a volume to the whitelist that was launched with an instance (with DeleteOnTermination set to true), would still cause the volume to be deleted if the instance was not whitelisted regardless of whether the volume is in the whitelist or not.

This is kinda complex. I guess it’s a bug, but i

[2021-09-22 06:30] atqhg23 commented on #91
For sure, thanks, I will test this in the morning (EST where I'm at) and will send an update.

[2021-09-22 17:06] atqhg23 commented on #91
When there are no security groups in the whitelist, the cleanup runs successfully, but this error comes up when there is a security group in the whitelist:

[code]

[2021-09-22 22:46] mlevit commented on #91
Issue fixed. Was comparing the wrong variable against the whitelist :)

[2021-09-22 22:52] mlevit commented on #90
This is not something that is in my control. Terminating the EC2 Instance will automatically terminate any volumes launched alongside the Instance. The app itself evaluates each AWS resource exclusively... hence why your volume was not removed by the app due to the whitelist but did get removed when terminating the EC2 instance.

[2021-09-24 06:45] atqhg23 commented on #91
Ah I missed that, will test to confirm

[2021-09-24 06:51] atqhg23 commented on #90
I looked into this and I think [ModifyInstanceAttribute](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyInstanceAttribute.html) can be used to control this.

The `BlockDeviceMapping` attribute can modify the `DeleteOnTermination` setting for the volumes.

Modifies the DeleteOnTermination attribute for volumes that are currently attached. The volume must be owned by the caller. If

[2021-09-30 05:19] atqhg23 commented on #91
Apologies for the late response. I just tested this and everything works

[2021-09-30 05:35] #91 closed

[2021-09-30 05:42] atqhg23 opened #93 "Question: Just curious, what was the reason for setting this up with the Serverless Framework? Are you open to allowing others to contribute setting up the infrastructure using terraform as another deployment alternative?"

[2021-09-30 05:48] mlevit commented on #93
IMO Serverless is the right framework for deploying application code whereas Terraform/CF are the right frameworks for deploying infrastructure.

Serverless does the hard work of packaging your Lambda functions, creating Lambda Layers, setting up IAM Roles, and creating API Gateways without you needing to explicitly create that infrastructure.

I don't see a need to include Terraform deployment ve

[2021-10-01 03:45] atqhg23 commented on #93
I'm not that familiar with the serverless framework, but looking into it a bit, I understand your point of view

[2021-10-01 03:45] #93 closed

[2021-10-12 18:50] guidodobboletta opened #94 "Cloudformation resources do not get whitelisted"
**Describe the bug**
The debug logs say that resources within a cloudformation stack are whitelist but when you look at the whitelist itself those resources are not there.

**To Reproduce**
Steps to reproduce the behavior:
Run the `app` and have cloudformation deletion enabled.

**Expected behavior**
Resources within cloudformation stacks should be whitelist and they are not

**Screenshots**

![Sc

[2021-10-13 18:57] guidodobboletta commented on #94
Ah I see that makes sense now. Thank youf or clarifying things for me!

[2021-10-13 18:57] #94 closed

[2021-11-11 23:34] bENLiang commented on #86
Love your idea, have you implemented this?

Love your idea, have you implemented this?

[2021-11-11 23:40] DesAWSume opened #95 "Update DynamoDB whitelist Table"
Whitelist table seem to be adding but not able to remove
For example, Adding new resource to the whitelist works fine, but if we update the resource through json, it did not seem to be updated

[2021-11-11 23:48] mlevit commented on #95
Hey @DesAWSume, when you say you update the resource through JSON, what exactly do you mean? Can you please give an example with screenshots to help me understand?

[2021-11-12 01:40] DesAWSume commented on #95
Hey @mlevit, thank you for the prompt reply,

Through the whitelist JSON file, we can define what resource we skip. As the time changed, we might have different requirement where we need to update those,

For example:
We can add a iam role
iam:role:xxxxxx

and we push the update to AWS, this will add a item in DynamoDB

But if we remove a whitelist resource from whitelist, we comment out the block

[2021-11-12 02:17] mlevit commented on #95
Ah right. The `auto-cleanup-whitelist.json` file that you're modifying is a one time use for the setup of the whitelist table. It should not be used to then add resources to the whitelist.

Instead, you need to install the API and WEB components of AWS Auto Cleanup. This will enable you to add, update, and delete all whitelist operations through an easy to use web interface.

[2021-11-15 20:22] #95 closed

[2021-12-15 06:26] luoyimu1 opened #96 "Dry Run disable in app"
Dear Team,

I'd like to disable dry_run and delete the resources.

What I can see from the code is that I need to change both `version` and `dry_run` in the data file to fulfil the requirement. Is it correct?

Thanks in advance.

[2021-12-15 06:43] mlevit commented on #96
Hey @luoyimu1. The files are only there for the initial deployment. Once the app is deployed and run for the first time, you can change all the settings through the DynamoDB table `auto-cleanup-app-prod-settings`.

View the items in the table and modify the `general` key setting the `dry_run` flag to `false`.

[2021-12-15 11:08] luoyimu1 commented on #96
Hey @mlevit , thanks a lot for the info.
We're actually trying to manage the changes in the source code (make changes in the code-> "npm run deploy") so that eventually we'll be able to put it in the pipeline and leave the website as the only source of management GUI.
I may test it out on my side and let you know if the way I described in the question works or not.
Cheers,

[2021-12-15 11:40] mlevit commented on #96
I get what you mean. Updating the version and re-running the deployment will work, but it's not the intended use for that.

Whenever I release new versions of Auto Cleanup and need to push new settings to you, I increase the `version` which will force the update on your side.

[2021-12-16 04:14] membra opened #97 "Question: some of resources are skipped because of whitelist though they are not in whitelist"
Hello,

I have couple of questions I am trying to figure out:

1) I noticed that though my whitelist looks like this as of now
![image](https://user-images.githubusercontent.com/53686351/146306744-6e0f86b7-6841-464e-bd34-254c090ab7ee.png)

In the run logs I see that
some resources are skipped because of being whitelisted,

But they are not part of any of the stacks in whitelist
for example
![image

[2021-12-16 04:21] mlevit commented on #97
Hey @membra. The way the whitelist functionality works from a CF is basically if the stack is either whitelisted or within the TTL, all its resources get added to the whitelist.

The last thing I want is a resource within the stack is removed before the stack itself as you technically could have a longer TTL for CF stacks than say Lambda functions.

[2021-12-16 04:27] membra commented on #97
Thank you very much for a very prompt response!

ok, got it,
so if a CF stack is either whitelisted or falls under TTL - it's resources will be listed as whitelisted.
That is clear,

But as I mentioned in the 2 point -
I added a CF stack into a whitelist but some of its resources are marked as skipped by TTL.
What is the logic in this case?

[2021-12-16 04:29] mlevit commented on #97
That generally shouldn't happen. The only resources it can't add to the whitelist are generally custom resources that don't conform to `service-provider::service-name::data-type-name`.

Can you check your logs to see if there's anything in there.

[2021-12-16 04:31] membra commented on #97
My particular case is IAM policies

Here is the stack and a policy inside it
![image](https://user-images.githubusercontent.com/53686351/146308442-32418362-48cf-4912-a2ff-bc4880e3c2c6.png)

Here is this one and other policies marked as skipped by TTL
![image](https://user-images.githubusercontent.com/53686351/146308477-2f6d7c9b-f69d-4bb1-890b-59cb54ad1246.png)

And here is this stack in whitelist

[2021-12-16 05:08] membra commented on #97
Just and addition:
if i change TTL for Iam policies in dynamodb so that they were now not met
policies are marked as delete (though again they are in the stack that is in whitelist)
![image](https://user-images.githubusercontent.com/53686351/146311833-0c15c63d-c12a-4262-aca7-4ca8ab96cb6c.png)

[2021-12-16 05:08] mlevit commented on #97
@membra what's the "Type" of that resource? The screenshot cuts that bit out.

[2021-12-16 05:09] membra commented on #97
AWS::IAM::ManagedPolicy

[2021-12-16 07:02] mlevit commented on #97
Can you put your `log_level` to `DEBUG` in your `serverless.yml` file and run this again. I want to see the output for some of this.

Can't think of a reason why this policy is behaving differently.

[2021-12-16 08:58] membra commented on #97
Hi,

sorry, could you please advise where exactly that config is?

[2021-12-16 09:00] #96 closed

[2021-12-16 09:01] mlevit commented on #97
The file is `/app/serverless.yml`. Look for the variable `log_level`.

[2021-12-16 09:03] membra commented on #97
And it requires redeploy yes?
with
 npm run deploy -- --region ap-southeast-2 --aws-profile XXX

[2021-12-16 09:08] mlevit commented on #97
Correct. Redeploy and then re-run. Head over to the CloudWatch logs and send me a copy of the logs.

[2021-12-16 09:13] membra commented on #97
[test.log](https://github.com/servian/aws-auto-cleanup/files/7725887/test.log)

From what I found so far:

First is says:
[DEBUG] IAM ManagedPolicy 'arn:aws:iam::720377698621:policy/iam-as2-gs-g-trusted-advisor' has been added to the whitelist. (cloudformation_cleanup.py, delete_stack(), line 255)

But then this:
[DEBUG] IAM Policy 'iam-as2-gs-g-trusted-advisor' was detatched from IAM Role iam-as2

[2021-12-16 09:23] mlevit commented on #97
So this log is a little strange

[code]

It should only be `iam-as2-gs-g-trusted-advisor` not the full ARN. Maybe the policies are coming up different to what I expected.

Can you run the following command from a terminal and send me the results for that stack:

[code]

[2021-12-16 09:58] membra commented on #97
[describe.txt](https://github.com/servian/aws-auto-cleanup/files/7726235/describe.txt)

the very last one here

        {
            "StackName": "StackSet-iam-roles-537abf7a-b025-4654-8038-c58bfe398038",
            "StackId": "arn:aws:cloudformation:ap-southeast-2:720377698621:stack/StackSet-iam-roles-537abf7a-b025-4654-8038-c58bfe398038/09583a40-5185-11ec-a9c2-0246fc31f5a6",
            "Logic

[2021-12-16 10:12] mlevit commented on #97
@membra thanks for that. I've made a temporary fix within https://github.com/servian/aws-auto-cleanup/tree/managed-policy-fix

Can you pull that branch, deploy and run. Let me know how you go.

[2021-12-16 10:28] membra commented on #97
That particular line changed but further on it still deleted those policies based on TTL
[test.log](https://github.com/servian/aws-auto-cleanup/files/7726451/test.log)

[DEBUG] IAM ManagedPolicy 'iam-as2-gs-g-trusted-advisor' has been added to the whitelist. (cloudformation_cleanup.py, delete_stack(), line 260)

...

[DEBUG] IAM Policy 'iam-as2-gs-g-trusted-advisor' was detatched from IAM Role iam

[2021-12-16 10:42] mlevit commented on #97
So it looks like managed policies are actually classified as `ManagedPolicy` resources, whereas all other policies are classified as `Policy`. I've added a translator to convert `ManagedPolicy` to `Policy`.

Should hopefully fix it 🤞

Pull and retest.

[2021-12-16 10:53] membra commented on #97
Looks like success to me this time
[test.log](https://github.com/servian/aws-auto-cleanup/files/7726601/test.log)

[DEBUG] IAM Policy 'iam-as2-gs-g-trusted-advisor' has been whitelisted and has not been deleted. (iam_cleanup.py, policies(), line 345)

Thank you very much for a very quick response and fix!

Do you think since there were issues with managed policies at filtering stage, maybe there m

[2021-12-16 10:55] mlevit commented on #97
Managed policies whitelisted from CF stacks would have been deleted. Whilst they were technically whitelisted, they were stored under a different category than I was looking up.

Thanks for validating the fix. I'll push the change to prod soon.

[2021-12-16 10:59] #97 closed

[2021-12-31 05:35] #86 closed

[2022-01-04 03:04] membra opened #99 "Deploying of api throws an error Rest API id could not be resolved."
Hello,

While trying to set up a pipeline to deploy and run aws-auto-cleanup noticed that when deploying api component

 npm run deploy -- --region ap-southeast-2

the stack looks to be deployed fine, all resources inside it as well

But in the very end npm throws this error:
Rest API id could not be resolved.

and exits with status 1 (error)

Attaching full log:
[apideploylogs.txt](https://github

[2022-01-04 03:48] membra commented on #99
The error seems to have disappeared when I removed following from serverless.yml

  tracing:
    apiGateway: true
    lambda: true

Any requirements from the aws-auto-cleanup to have it?

[2022-01-06 23:14] membra opened #100 "Error when invoking "TypeError: argument of type 'NoneType' is not iterable""
**Describe the bug**

Invoking a cleanup with
npm run logs -- --region ap-southeast-2 --aws-profile rsadmin

Getting this error in the process:
[INFO] Switching to 'ap-southeast-2' region. (main.py, run_cleanup(), line 66)
Exception in thread Thread-106:
Traceback (most recent call last):
File "/var/lang/lib/python3.8/threading.py", line 932, in _bootstrap_inner
self.run()
File "/var/lang/lib/pyth

[2022-01-06 23:31] membra commented on #100
Looking at the last processed resource I suspect it might have to do with
this particular resource that does not have a physical name

![image](https://user-images.githubusercontent.com/53686351/148466961-0f747b17-36a8-4b08-bf1a-9e85137cb041.png)

[2022-01-09 09:36] mlevit commented on #99
Hey @membra thanks for raising this, I'm currently taking a little break and will be back in a week or so to look into this.

[2022-01-09 09:48] mlevit commented on #100
@membra I think you're right. I actually introduced this "bug" when I fixed issue https://github.com/servian/aws-auto-cleanup/issues/97. I don't however know if this is a legit problem or not as it looks like that resource has been "deleted" and therefore the app shouldn't even be looking at those resources.

Maybe I need to filter out those resources when retrieving the resources in the app that

[2022-01-09 09:52] mlevit commented on #100
Can you also [run the following CLI](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/describe-stack-resources.html) for me and send me your output. Make sure you redact any private info.

[2022-01-09 22:13] membra commented on #100
@mlevit
That was the first time I was running the cleanup tool in the actual target account I will be eventually cleaning up.
There are many devs working there,
This particular stack was just in the middle of work / investigation and I cannot find exact detail of why it was in this state.
It is not now in that state anymore, it has been updated since so the describe stack won't give anything impor

[2022-01-09 23:10] membra commented on #100
I got the same issue in another account as well, here is the output of the command, the resource lacks physical id

{
    "StackResources": [
        {
            "StackName": "cfn-as2-sand-harvey-ec2-security",
            "StackId": "arn:aws:cloudformation:ap-southeast-2:accid:stack/cfn-as2-sand-harvey-ec2-security/4e2dbfc0-6ec0-11ec-a6d1-02f59a33595a",
            "LogicalResourceId": "HarveyE

[2022-01-09 23:20] mlevit commented on #100
Thanks for that. I'm going to assume the physical ID is missing because the resource has been deleted. Let me add a check for it next week.

Try to keep that stack there for testing 😀

[2022-01-11 01:43] membra opened #101 "For ec2:security_group status is changed depending on run mode"
**Describe the bug**
When I run the tool in dry_run mode it marks a sg that is attached to an ec2 that is skipped due to TTL as DELETE
When I run the tool in destroy mode it marks a sg that is attached to an ec2 that is skipped due to TTL as SKIP IN USE

**To Reproduce**
Create an EC2 instance (with volume and SG attached by default)
Run in dry run mode, run in destroy mode, compare logs

**Expect

[2022-01-11 03:21] membra opened #102 "Question: when removed TTL for EC2 instances - they are still skipped due t oTTL"
I wanted to simulate the situation when a newly created ec2 instance will be destroyed as a result of the run.

I created the instance and removed the TTL setting for EC2 instances in dynamodb altogether so that even newly created instances could be destroyed.

...
   "instance": {
    "clean": true,
    "id": "Instance ID"
   },
....

When running in destroy mode after it I see that the EC2 insta

[2022-01-16 22:52] mlevit commented on #102
It does. By default, if the record within DynamoDB cannot be found, it'll default to 7 days. So rather than deleting the record from DynamoDB, just set the `ttl` value to `0`.

[2022-01-16 22:54] mlevit commented on #101
This is known behaviour. In dry run mode, I'm working out whether a resource can be deleted or not. In destroy mode I attempt to delete the resource and fail due to the resource being utilised by another resource.

[2022-01-16 23:08] mlevit commented on #100
@membra I've made a patch for this issue. Can you test it for me: https://github.com/servian/aws-auto-cleanup/tree/physical-id-missing

[2022-01-17 00:56] membra commented on #101
@mlevit
thx for that - can I ask another question please,

What will happen if a cloudformation stack is not in whitelist and not falls under TTL but one of the resources inside it is in the whitelist?

[2022-01-17 01:26] mlevit commented on #101
The Stack will be deleted and so will the resource.

[2022-01-17 01:45] membra commented on #100
@mlevit

same issue from what I see so far
in the screenshot you see I am in your new branch
![image](https://user-images.githubusercontent.com/53686351/149688317-804743f0-806a-4bad-8ec5-ec0b8264ba9e.png)

[2022-01-17 01:49] mlevit commented on #100
I don't believe you've deployed that branch. The following line

[code]

has actually changed to

[code]

Please check again.

[2022-01-17 01:50] membra commented on #100
correct, i didn't deploy, just ran, will do, sorry

[2022-01-17 02:10] membra commented on #100
that looks fine to me now,
thanks! Do you need any logs confirming that?
For me it looks like it finished analyzing the account, so I am good

[2022-01-17 02:12] mlevit-servian commented on #100
There should be some logs stating something along the lines of `does not have a PhysicalResourceId and cannot be whitelisted`.

They are however DEBUG logs meaning you'll have to change the `log_level` within the `serverless.yml` file to `DEBUG`.

[2022-01-17 02:12] membra commented on #101
@mlevit

based on your initial answer to this thread - just an additional one -
Is it possible / wouldn't it be better if after running Dry_run I could see the exact status of what is going to happen in the account in destroy mode?
I mean In my rganization I am planning to report on what is going to be deleted / skipped during a run - and I effectively cannot do that with 100% guarantee as the sta

[2022-01-17 02:18] membra commented on #100
![Uploading image.png…]()

[2022-01-17 02:37] membra commented on #102
I will check it today and will close if it works as explained - thx!

[2022-01-17 04:34] membra commented on #102
@mlevit sorry, just trying to figure out logic still:

I have an EC2 instance that is to be deleted (not in whitelist, not within TTL)
it has an Address, sg attached and Volume attached
SG is marked - to delete
And address and volume as In use
![image](https://user-images.githubusercontent.com/53686351/149708575-369df11f-ec0d-4e89-a9ec-3fca217c51b8.png)

Could you clarify what will eventually be d

[2022-01-17 05:50] mlevit commented on #102
Each resource is evaluated mutually exclusively and a lot of times in parallel. Hence why the volume may have been skipped because it was used by the EC2 instance, but the EC2 instance was later deleted.

[2022-01-19 01:18] membra commented on #102
@mlevit

I ran the tool in destroy mode and I see the same,
The EC2 instance was terminated as it was not in whitelist and not below TTL
but the security group and volume stayed as in use
![image](https://user-images.githubusercontent.com/53686351/150045415-222d6633-ae56-46e5-ac0a-b4724ca0de1c.png)

Does it mean that I need to be running it multiple times to properly cleanup the resources?

[2022-01-19 01:31] mlevit commented on #102
Like I mentioned before because the cleanup is run in parallel, the security group and volume could have been checked when the EC2 instance was still running.

If you run the app again, it should get rid of the resources unless they're used by another resource.

[2022-01-19 22:32] mlevit commented on #101
@membra I understand where you're coming from but unfortunately, the dry run mode can only assume an action based on the rules. Once the app actually runs in destroy mode, it might encounter issues performing those actions.

It would be very hard to determine every single possibility.

[2022-01-19 22:32] #101 closed

[2022-01-19 22:33] #102 closed

[2022-01-19 22:37] #100 closed

[2022-01-20 03:10] membra opened #104 "Question: DELETE - NOT CONFIRMED"
I have a question about this status -
what exactly does it mean?

I ran in destroy mode and the resource that was marked like that - was not deleted.

What defines that?

[2022-01-24 20:43] mlevit commented on #104
`DELETE - NOT CONFIRMED` is the status assigned to CloudFormation Stacks that have been "deleted".

CloudFormation Stacks are deleted asynchronously due to how long they can potentially take to delete. Since AWS Auto Cleanup is run within a Lambda Function, we cannot wait for all Stacks to delete as the Function may hit the 15-minute timeout limit. Hence Stacks are "deleted" and then AWS Auto Clea

[2022-01-28 06:02] atqhg23 opened #105 "Execution log is showing resource is in whitelist, but resource is not in the temporary or permanent whitelist"
**Describe the bug**
The execution log is showing that an EC2 instance is part of the whitelist (the action appears as SKIP- WHITELIST), but the instance is not part of the temporary or permanent whitelist, and is not showing up in the whitelist DynamoDB table.

**To Reproduce**
I am not sure what caused this. This came up because a user was trying to add the instance to the whitelist from the exe

[2022-02-02 01:59] membra commented on #105
Before @mlevit answers,

I had that same behavior when resource was part of a stack that was whitelisted.
Can it be the same in your case? Is that EC2 part of a whitelisted stack by any chance?

[2022-02-02 02:01] membra opened #106 "Deleting resources with resource based policies fails"
I noticed issues with deletion of KMS keys (and actually any other resource that has resource based access policy)

![image](https://user-images.githubusercontent.com/53686351/152081755-a319b918-ab82-43e9-80ae-52cb4c447034.png)

Though lambda role does have permissions to * when executed through cloudformation - the KMS policy allows only certain roles to delete or access it.

What is the suggeste

[2022-02-02 02:18] membra commented on #106
A small addition here -
The issue with KMS keys specifically is that you cannot delete it,

You can schedule a deletion for 7 or 30 days.

Which means that noone will be able to recreate KMS key with same name for at least a week.

[2022-02-02 02:28] mlevit commented on #105
@membra is correct. If a CloudFormation Stack is whitelisted, all the Resources within that Stack are also whitelisted.

[2022-02-02 02:30] mlevit commented on #106
@membra that's a tough issue to workaround. You might need to clean up certain Stacks manually as Auto Cleanup won't have the right permission to do so (as you've mentioned already).

[2022-02-02 02:35] membra commented on #106
Any chance a possibility (a new feature) can be added to assume elevated role (that is allowed in resource policy)?

[2022-02-02 02:36] #104 closed

[2022-02-03 06:02] mlevit commented on #106
Sure we can assume a different role. The follow-up questions would be

1. Which role would the app need to assume?
2. How would the app know a different role needs to be assumed?
3. How would the app have the permissions to assume that role?

[2022-02-03 23:20] membra commented on #106
As a suggestion
1) in our case there is an elevated role that does have permissions to delete all resources with resource-based policies (in other companies' cases it might be different of course). So in our case I d know which role it should be.
2) just an idea - a separate parameter - elevated role arn - passed during build / deploy and will be then used for specific cases where it is required
3

[2022-02-04 02:55] mlevit commented on #106
I don't think this can be easily solved. Too many variables in the different organisations can set this up in their own accounts.

I think for now, just keep doing what you're doing and deleting these manually when you need to.

[2022-02-10 21:17] #106 closed

[2022-02-10 21:17] #105 closed

[2022-02-14 02:02] membra opened #107 "Question: ENIs are not deleted"
**Describe the bug**
When I run the tool, some of the SGs are not getting deleted because they have depended objects
![image](https://user-images.githubusercontent.com/53686351/153787435-a11f8324-88be-4350-8bd9-1bd23c09637a.png)
These objects are ENIs
![image](https://user-images.githubusercontent.com/53686351/153787465-62684c24-0ed7-47c6-8daf-e8930da74ba7.png)

Any reason ENIs are not tackled?

[2022-02-14 23:56] mlevit commented on #107
Hey @membra. ENIs aren't very costly and therefore there isn't a real point in tracking them. The main purpose of Auto Cleanup is to reduce your AWS bill. Tracking ENIs also adds more work for users to whitelist them when most ENIs aren't even created by users.

I admit that some of the resources we do track i.e., security groups probably don't need to be tracked as they don't have a monetary impa

[2022-02-21 20:58] #107 closed

[2022-02-24 22:01] mlevit commented on #99
@membra is this still an issue for you? I've upgraded to Serverless V3, not sure if that changes anything or not.

[2022-02-27 21:26] #99 closed

[2022-03-01 22:43] membra opened #110 "A SG in the cloudformation stack is unexpectedly deleted"
**Describe the bug**
We noticed that at some point a security group that was part of a cloudformation stack got deleted while the rest of the stack remained.

This SG was marked as SKIP - IN USE during the destroy run
![image](https://user-images.githubusercontent.com/53686351/156260092-23f34b4f-b616-4ba9-b9a4-aa70e53c6f44.png)

At the same time in logs it was mentioned as deleting as there are no

[2022-03-02 00:39] mlevit commented on #110
Hey @membra,

1. You're correct. Resources are independently deleted via their own API endpoints. The app will first attempt to delete the CloudFormation Stack before proceeding to delete all other resources. If the Stack was not deleted (for whatever reason) the resources will be deleted individually outside of the Stack.
2. A potential solution is to check against CloudFormation Resources and on

[2022-04-29 17:33] atqhg23 opened #111 "RDS snapshots are not being cleaned up"
**Describe the bug**
RDS snapshots are not being deleted. The lambda logs show that the cleanup of RDS snapshots started and finished, but the RDS snapshots are not deleted. Tried adding a print statement to the for loop located here (https://github.com/servian/aws-auto-cleanup/blob/main/app/src/rds_cleanup.py#L156) and it is not being printed, so it is not getting here.

**To Reproduce**
Steps to

[2022-05-03 00:45] mlevit commented on #111
Hey @atqhg23 thanks for raising this. This cleanup only covers manual snapshots taken of RDS instances. As you can see on line [147](https://github.com/servian/aws-auto-cleanup/blob/main/app/src/rds_cleanup.py#L147) we specifically filter our snapshot types.

This is generally done because automatic RDS snapshots should already be cleaned up automatically by AWS based on your snapshot retention pe

[2022-05-03 01:32] atqhg23 commented on #111
Thanks for the response. I confirmed that all of the snapshots in the account are manual under Snapshot type, but they're still not showing up.

When checking the lambda logs, it just mentions it started and finished the cleanup of RDS snapshots.

The execution log is also not showing any RDS snapshots.

[2022-05-03 04:15] mlevit commented on #111
@atqhg23 could you please run the following CLI command for me and show me the results. Please remove any PII data first:

[code]

[2022-05-03 04:39] atqhg23 commented on #111
Output below. Interesting to point out is that this command is only showing automated snapshots even though I have a few manual snapshots in my account as well.

[code]

[2022-05-03 04:54] atqhg23 commented on #111
Ah I see the issue my bad, I just confirmed that this is actually working as expected.

The only manual snapshots I had were of Aurora instances which are Cluster snapshots. I created a manual snapshot of a MySQL instance and this snapshot was shown in the output the command you mentioned above, and I confirmed the cleanup deleted this snapshot.

Any thoughts on expanding the cleanup to include RD

[2022-05-03 11:03] mlevit commented on #111
Shouldn't be too hard. Should be able to add support in the next few days 🤞

[2022-05-03 22:29] mlevit commented on #111
Give it a go, https://github.com/servian/aws-auto-cleanup/tree/rds-clusters

[2022-05-04 03:00] atqhg23 commented on #111
Thanks! I just finished testing this and validated that both clusters and cluster snapshots are getting deleted.

I had a question about one thing though. A cluster can't be deleted if it contains DB instances which is fine since the next cleanup run can delete the clusters, but if a cluster has scaling enabled, I think these clusters would never get deleted since they would scale back up allowing

[2022-05-04 03:07] mlevit commented on #111
Oh right, wasn't aware that a Cluster actually contains DB Instances. Makes sense. What we can do then is run the cleanup of DB Instances first, then Clusters. This will create a bit of complexity whereby you can whitelist the Instance and therefore prevent the Cluster from ever being deleted. You of course might not understand this behaviour.

The other way to approach this is, if the Cluster is

[2022-05-04 03:16] atqhg23 commented on #111
I think the second approach would be better, but I imagine the same thing would happen where if an instance from a cluster is whitelisted, then the cluster won't be deleted, but I think that makes sense since I would think if a user is whitelisting an instance inside a cluster, they would also want to keep the cluster.

[2022-05-04 03:23] mlevit commented on #111
However, the Cluster can have multiple Instances, so do we keep only the ones allowlisted or check if any are before deleting or skipping?

[2022-05-04 03:41] atqhg23 commented on #111
Good point, to be honest I'm not sure about this.

Did some brief research and found some info that may be useful:

Link: https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/Aurora.CreateInstance.html
[code]
More info: https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/Aurora.Overview.html

I'm thinking if a cluster is whitelisted, all the instances within should be whitelisted

[2022-05-04 03:54] atqhg23 commented on #111
Thinking about this some more, if I'm thinking about this right, there would be 2 scenarios:

**Cluster with scaling enabled**
- If scaling is enabled, a min and max of read replicas is specified so the option that's chosen in terms of what to do when a resource is allowlisted won't matter for these, since the scaling policy will take over.

**Cluster with scaling disabled**
- Readers are manually

[2022-05-04 21:39] mlevit commented on #111
Thanks for that insight @atqhg23. I've made a change to the code to remove DB Instances present within the Cluster before removing the Cluster.

Can you pull the latest code and validate it?

[2022-05-05 04:01] atqhg23 commented on #111
Thanks! I just tested this and here is what I found:

- Clusters are now deleted along with the instances inside the cluster
- The execution log is not showing the action for RDS instances that are part of a cluster
- Allowlisting one instance inside a cluster, but not having the cluster allowlisted still deletes the allowlisted instance
- Allowlisting a cluster keeps all instances inside the clus

[2022-05-05 04:10] mlevit commented on #111
Thanks very much for that. Looks like it's working as expected. I'll add some logging for the deletion of the DB Instances within the Cluster.

To your third point regarding allowlisting DB Instances, I went off your last comment which was, if the Cluster is not allowlisted, then all DB Instances within the Cluster are deleted no matter if they are allowlisted or not.

I think this is much easier

[2022-05-05 04:45] atqhg23 commented on #111
Awesome, thanks, yeah that makes sense

[2022-05-05 05:00] mlevit commented on #111
The logging is there, just as DEBUG not INFO. I think DEBUG is enough as we're cleaning up the Cluster not the Instances here.

[2022-05-05 05:19] atqhg23 commented on #111
Ah I thought you were referring to adding the action in the execution log for RDS instances inside a cluster. In the website, the action field in the execution log is empty for instances that are part of a cluster.

One other thing to mention which may not be that big of a deal is that the website is currently allowing users to add RDS instances to the allow list from the execution log which may c

[2022-05-05 05:22] mlevit commented on #111
I changed the behaviour of the DB Instance cleanup to ignore Instances that are part of a Cluster.

See https://github.com/servian/aws-auto-cleanup/blob/rds-clusters/app/src/rds_cleanup.py#L269

Since we now added Cluster cleanup, DB Instances within Clusters will only be cleaned up as part of the Clusters cleanup.

It should resolve the issues you raised.

[2022-05-05 05:29] atqhg23 commented on #111
I see, so this is working as intended, but it leaves the instances that are part of a cluster with an empty action since there is no resource_action for instances that are part of clusters. I think it would be solved by adding a resource_action for the instances in the clusters function. Testing this on my end at the moment

[2022-05-05 05:31] mlevit commented on #111
It shouldn't. The execution log code only runs when a DB Instance is not part of a cluster.

https://github.com/servian/aws-auto-cleanup/blob/rds-clusters/app/src/rds_cleanup.py#L322

Maybe you have an older version before I fixed that :)

[2022-05-05 05:48] atqhg23 commented on #111
Hmmm interesting, my code matches what's in the link above, but getting the same (picture below)
![image](https://user-images.githubusercontent.com/68252360/166869064-fbfca258-9590-478f-9bf5-d6fe8731a73a.png)

will look more into this, thanks again for all the help

[2022-05-05 06:05] atqhg23 commented on #111
Ok I think I got it, I hope this helps better explain the issue. I added the two lines below above this line https://github.com/servian/aws-auto-cleanup/blob/rds-clusters/app/src/rds_cleanup.py#L269 and now an action is being shown for the instances that are not part of a cluster. The instances  function was just displaying the resources action for resources outside of a cluster only.

[code]

[2022-05-05 07:00] mlevit commented on #111
Thanks for that, but the issue here is that DB Instances within a cluster should be completely ignored during the cleanup of DB Instances. They should never appear in the execution log in the first place.

Let me run my own tests on this to validate just in case.

[2022-05-05 07:11] atqhg23 commented on #111
Oh I see what you meant now, missed the mark on that, yeah that would be much better

[2022-05-05 23:51] atqhg23 commented on #111
Hi, just following up, did you get a chance to test this on your end?

[2022-05-05 23:52] #111 closed

[2022-05-06 00:10] mlevit commented on #111
I did, looks like it works as expected. Only the Cluster is showing up in the execution logs.

[2022-05-06 00:20] atqhg23 commented on #111
Thanks, I see the issue, my code did not have the execution log shifted over.

Thanks again for all the help with this!

[2022-06-13 07:32] atqhg23 opened #113 "Provisioned Kafka clusters are detected / deleted, but serverless clusters are not"
**Describe the bug**
Serverless Kafka clusters are not detected / deleted, only provisioned clusters get detected / deleted.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the MSK console
2. Create a serverless Kafka cluster
3. Create a provisioned Kafka cluster
4. Run the cleanup in dry run or destroy mode
5. Check the execution log to see the Kafka cluster that was detected / delet

[2022-06-24 00:06] mlevit commented on #113
Bump @atqhg23

[2022-06-27 00:14] atqhg23 commented on #113
Sorry for the delay, was out for a few. These are actually the changes I initially tested when trying to get the provisioned Kafka clusters to be detected / deleted as well.

With these changes, now provisioned and serverless clusters are not shown in the execution log, the exec log is empty.

I am seeing this error in the app lambda logs:
`[ERROR] 'list_clusters_v2' (kafka_cleanup.py, clusters(),

[2022-06-27 00:20] mlevit commented on #113
Hmmm interesting. Any other errors accompanying that one? When I first commented back, I didn't add the right IAM permissions for `list_clusters_v2`, that was fixed shortly after. Make sure you pull the latest change from that branch.

My logs are

[code]

[2022-06-28 01:35] atqhg23 commented on #113
Yeah I did replace the **kafka:ListClusters** permission with **kafka:ListClustersV2**. Here are all the logs that mention Kafka:

[code]

I could not get this working. Really not sure what's causing the issue. Will take another look at it tomorrow.

**Here is what I tried**

- Included both **kafka:ListClusters** and **kafka:ListClustersV2** permissions
- Included only **kafka:ListClustersV2** pe

[2022-06-28 04:01] mlevit commented on #113
Don't see why this would fail. The API call is correct and the three fields required (`ClusterName`, `ClusterArn`, and `CreationTime`) are exactly the same between the two API calls.

[2022-06-28 12:00] dikuesan1 opened #115 "ElasticBeanstalk resources are being detected / deleted, but we are unable to whitelist resources on our cleanup site"
**Describe the bug**
After running the cleanup, ElasticBeanstalk resources can not be whitelisted on our exemption site.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'ElasticBeanstalk console'
2. Click on ' Create a new environment'
3. Create new environment and application
4. Run the cleanup in dry run mode
5. Check Cleanup site to whitelist an ElasticBeanstalk resource

**Expecte

[2022-06-28 22:32] mlevit commented on #115
Hey @dikuesan1. Just did a little digging and I think I know what the issue is. The service is the log is `Elastic Beanstalk` but the service in my app settings is `elasticbeanstalk` which is really based on the way the servie is named in Boto3.

The problem is, when you press that button, the serivce name, resource, and ID are sent to a JS function called `createAllowlistEntryFromExecutionLog` wh

[2022-06-29 00:45] mlevit commented on #115
@dikuesan1 can you pull this branch and test it? https://github.com/servian/aws-auto-cleanup/tree/115-elasticbeanstalk-resources-are-being-detected-deleted-but-we-are-unable-to-whitelist-resources-on-our-cleanup-site

The app settings have changed so this will impact any allowlists.

[2022-06-29 03:44] atqhg23 commented on #113
Looked more into this today and still could not get it working. Opened a support case with AWS as well and they're not seeing any issues on their end.

Got a recommendation to create another Lambda specifically to list the clusters with the code snippet below and this one worked which most likely points to the issue being somewhere in my setup.

I will just leave provisioned clusters enabled for n

[2022-06-29 04:35] mlevit commented on #113
Thanks for coming back @atqhg23. I havent' seen the issues in my account so I am assuming there's something not right there, potentially SCPs? Keep me posted anyway.

[2022-06-29 05:55] atqhg23 commented on #113
The weird thing is it worked when using that code snippet to list the clusters using the V2 paginator and I was using the same role, but yeah will take a look at the account level settings to see if it’s something there.

Will do, thanks

[2022-06-30 03:36] atqhg23 opened #116 "Just wanted to get your thoughts on dynamically protecting existing and new resources from the cleanup"
There are a large number of resources that we need to protect from the cleanup, and while the cleanup has the temp/permanent allowlist to protect resources, it can be cumbersome to add each resource manually through the website.

Here are some of the ideas we had to resolve this issue:

- Leverage the existing allowlist process, and set up a separate process that will check for resources that have

[2022-06-30 04:20] mlevit commented on #116
That's an interesting problem.

1. You can easily add resource en masse by modifying the DynamoDB JSON file. There's no need to use any UIs as you can grap the execution log then reformat that into the JSON format required by DynamoDB. However, this isn't dynamic and requires constant updates.
2. Wildcards are something that can be added. This will require a change to every cleanup script where th

[2022-06-30 04:50] atqhg23 commented on #116
Thanks for the response. One thing I’m thinking about that may possibly be simpler is trying to apply the tag filter directly in the cleanup scripts where it’ll exclude resources that have the tag specified, and this way the comparison / check won’t have to be done with the allowlist since it’s being “hard coded” in the cleanup script themselves if I’m thinking about this correctly.

Would create

[2022-06-30 22:48] mlevit commented on #116
@atqhg23 was playing around with wildcard support this morning. I believe it's working now as intended. If you'd like to test it, you can grab it here https://github.com/servian/aws-auto-cleanup/tree/wildcard-match

It's using Python's [fnmatch](https://docs.python.org/3/library/fnmatch.html) function which allows simply wildcarding per the below table:

| Pattern | Meaning|
|-- | --|
|* | matches

[2022-07-03 09:22] mlevit opened #117 "Allowlist Elastic Beanstalk resources"
A per https://news.ycombinator.com/item?id=31927584#31956513

[2022-07-05 22:08] #116 closed

[2022-07-05 22:12] #113 closed

[2022-07-05 22:21] #115 closed

[2022-07-05 23:09] atqhg23 commented on #116
Thanks for adding this. I tested this successfully with some CloudWatch log groups

[2022-07-06 00:56] membra opened #120 "Nat gateways whitelisting does not work"
**Describe the bug**
A NAT gateway is in allowlist based on doco:
<html>
<body>

EC2 NAT Gateways | NAT Gateway ID | ec2:instance:nat_gateway_id
-- | -- | --

</body>
</html>

![image](https://user-images.githubusercontent.com/53686351/177440273-bf442163-505c-431e-b2a4-2d686411587d.png)

But it is listed as DELETED after the run

![image](https://user-images.githubusercontent.com/53686351/17744035

[2022-07-06 00:58] membra commented on #120
I suspect the issue might be with the documentation itself...
"nat_gateway" is what is expected, not "instance"

[2022-07-06 01:07] mlevit commented on #120
Great pickup @membra. The documentation is wrong. `nat_gateway` is the correct resource.

[2022-07-06 01:09] mlevit commented on #120
Fixed https://github.com/servian/aws-auto-cleanup/commit/8dacdc0c5197925b4970778e00599514d621bf01

[2022-07-06 22:37] #120 closed

[2022-07-07 18:55] kjblanchard opened #121 "Web - Resources Scheduled for Termination View hanging with large csv"
Hello thanks for the work on this project, it's great!

Currently I'm running into an issue when viewing the webpage when we have a large number of items on the termination list (~20k+).

What happens is that when you click on the box to view the resources, it will pull up the modal and start spinning as usual.  It will then hang and not finish.  It seems to fire off the lambda function and that r

[2022-07-08 00:32] mlevit commented on #121
Hey @kjblanchard. Thanks for raising this issue. I didn't think I'd ever see an execution log of that size :) but here we are.

I've made a test execution log of 20K records and whilst it does take time to load from S3 and render in Chrome, I can see that anything larger will probably kill the browser.

Let me look into this a little bit longer to see if we can do something with the DataTable that

[2022-07-08 03:56] mlevit commented on #121
So... played around with this today. I think I managed to make it work using DataTables native functionality. Instead of creating the table in HTML then converting that table to a DataTable, we instead pass the data to DataTable which only loads records visible to the other. This should hopefully prevent Chrome from hitting the out of memeory error it did before.

Could you do me a favour to pull

[2022-07-11 15:23] kjblanchard commented on #121
I also noticed this error in the "default-log-execution-read-api" lambda CW logs:

`[ERROR] [1657552536217] LAMBDA_RUNTIME Failed to post handler success response. Http response code: 413.`

According to the following page, it seems this might be a limitation of lambdas invocation payload.  My CSV file is just above 6MB.
https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html

[2022-07-11 22:27] mlevit commented on #121
Hmmm depending on how old your previous instance was, I would suggest you update all 3 modules, app, api, and web. You shouldn't get any CORS issues tbh.

Regarding the 6MB response limit, that is still in place. A 20K file was about 3MB for me, so anything larger than say a 35/40K would probably exceed that limit. Not much I can do about that without re-architecting the whole app. Only solution w

[2022-07-12 05:31] mlevit commented on #121
@kjblanchard I just pushed a change https://github.com/servian/aws-auto-cleanup/commit/0827dc62cdc1b15503421f68317f2fa3476ca9de that should hopefully solve this issue.

Basically, to work around Lambda's 6MB response payload limitation, I've compressed the output payload using Zlib for execution logs greater than 10K lines. We then decompress using Zlib on the frontend. I've managed to work with a

[2022-07-12 17:46] kjblanchard commented on #121
Perfect, you rock.

I've grabbed that commit and pushed out to our accounts and I'm able to get the CSV file now when attempting to view the list on the page, thanks for adding in zlib/compression!  I'm getting a Error code: RESULT_CODE_HUNG though when it is trying to display the results.  Seems like my cpu gets pegged at 100% prior.  I saw there was a couple of commits after 0827dc6 so I'm going

[2022-07-12 21:27] mlevit commented on #121
@kjblanchard I know this may be hard for you to do, but do you think you could share one of your execution logs with me? De-identify everything in there and if you'd like, you can email me a link directly instead of posting it here (mlevit at gmail dot com).

Your logs are different to mine and I'd love to test with yours directly.

[2022-07-12 22:25] mlevit commented on #121
OK so I've pushed more log processing into the backend with this commit https://github.com/servian/aws-auto-cleanup/commit/bc6284e45b0de547fa9a6f4aff0e6b7d0d956067.

The frontend would receive the log, calculate the stats and do create a smaller log list with just the columns necessary for the table. Instead of doing that all in the frontend, I've moved that into the Lambda and returned it in the

[2022-07-13 15:59] anyi1985 opened #123 "Unable to add ECR image to the allowlist through the execution log"
Hello and thank you for working on these cleanup scripts.

My issue is that when I try to whitelist ecr resources through the execution log, it whitelists the repository but is unable to whitelist any image. When trying to whitelist an image I get the following errors:
- execution log error: `Resource ID `ecr:image:sha256:12abcded5sdsd5s4desdtgsdsdsd7shds7ds7dsjds7djsd7sdjs7dsdabcdefgh` is invalid

[2022-07-13 21:27] mlevit commented on #123
Hey @anyi1985 thanks for raising this. Must have never really tested this myself with an actual image digest. There were a few problems including not limiting the split in Python and a difference in the way Python and JavaScript `split` functions work.

Through this I actually found out that ECR Images were never being cleaned in the first place. The code was there, but I never ran it 😭

Should be

[2022-07-15 12:29] anyi1985 commented on #123
Thank you @mlevit
The changes you made to the branch worked for me. I am now able to whitelist my ecr images. Thank you for the fix

[2022-07-16 02:05] #123 closed

[2022-07-16 03:23] mlevit commented on #121
@kjblanchard any chance you've had time to test this out?

[2022-07-16 14:06] anyi1985 commented on #123
@mlevit
It looks like there actually wasn't an issue with the ECR image cleanup never being run, because the following error comes up:
`self.images()
TypeError: images() missing 1 required positional argument: 'repository'`

The image cleanup takes in a repo name which is only passed in from the repo cleanup, so I think it should be fine to remove self.images().
https://github.com/servian/aws-auto

[2022-07-16 14:34] kjblanchard commented on #121
Hey, sorry about not responding here.  I've added in the latest changes and still seeing the issue.  I went ahead and de-identified the csv file, but just going through "approvals" to be able to send out the csv file.  Thanks for reaching out about it.

[2022-07-20 05:49] mlevit commented on #123
@anyi1985 haha yep, I forgot my own code 😄

The images cleanup is called within the repositories cleanup... you're right.

I'll look into the notification bar colour, I noticed that too.

[2022-07-27 23:41] atqhg23 commented on #113
Wanted to post an update for this. Was able to get this working after AWS support found the issue. Our setup for the cleanup is configured differently and was outdated. It was using Boto3 version `1.16.25` when the version needs to be equal to or greater than `1.20.18` to support `list_versions_v2`. Updating the python dependencies bundle to the following got this working:

[code]

One thing to ad

[2022-07-31 23:54] kjblanchard commented on #121
@mlevit Finally was able to get one.  Will send it to your email now.  Thanks again for everything

[2022-08-29 05:19] #117 closed

[2022-08-29 05:19] #121 closed

[2022-10-17 20:11] atqhg23 opened #127 "[Question] How is an allowlist entry removed from settings table when the expiration date is reached?"
Hi, I'm currently looking into a case where a resource was shown as being part of the allowlist in the dry run exec log, but a few days later, when the destroy run took place, the resource was deleted. I'm assuming that the whitelist entry expired between when the dry run took place and when the destroy run took place. I'm not able to find any events in CloudTrail of when the allowlist entry was c

[2022-10-17 22:00] mlevit commented on #127
Hey @atqhg23. The allowlist utilises [DynamoDBs TTL](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/TTL.html) feature. Simply put, once the current date is greater than the expiration date of the resource in the allowlist, DynamoDB will automatically remove the entry from the allowlist.

[2022-10-21 00:06] #127 closed

[2022-10-21 02:43] DesAWSume opened #128 "Error: TypeError: (intermediate value).run is not a function"
**Describe the bug**
When deploying web module by running npm run deploy:client, it errors out with below message
Error:
TypeError: (intermediate value).run is not a function

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'web'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Error:
TypeError: (intermediate value).run is not a function

**Screenshots**

[2022-10-21 03:12] mlevit commented on #128
I believe you have an issue with your `serverless-finch` add-on. Can you try [manually installing v3.0.0](https://www.npmjs.com/package/serverless-finch/v/3.0.0) and trying to deploy again?

[2022-10-25 22:18] #128 closed

[2022-10-26 03:10] DesAWSume commented on #110
Sec group is a tricky one, from my own experience, I wrote some script to fetch the unused sec groups.
but what happened was:
 Security group has no ENI, but it is being referenced by another security group, and you can not delete the security group

[2022-10-27 22:43] #110 closed

[2022-10-29 13:33] mwgamble commented on #110
@mlevit Would you be able to provide some information on why this issue won't be fixed? :pray:

[2022-10-30 03:53] mlevit commented on #110
Hey @mwgamble sure thing.

1. Cleanup of SGs is a lot more complex than I ever thought it would be. A lot of AWS resources are linked to SGs and each one needs to be cleaned up prior to removing the SG. I'd have to understand all the resources and incorporate their cleanups for this to properly work.
2. I probably should have never added resource cleanup for resources like SGs, VPCs etc as the ben

[2022-10-31 16:20] atqhg23 opened #129 "Use root device attach time instead of launch time to get EC2 instance age"
**Describe the bug**
Currently, the launch time is used to determine the age of the EC2 instance, but this value is reset when someone restarts the instance allowing users to indefinitely keep an instance from being cleaned up.

**To Reproduce**
1. Launch an EC2 instance
2. Make note of the launch time
3. Stop and start the instance
4. The launch time is updated to when the instance was started

*

[2022-11-03 02:59] mlevit commented on #129
Thanks for raising this @atqhg23. Really interesting discovery. Let me look into it and see what the best approach would be.

[2022-11-14 22:38] mwgamble commented on #110
Thanks for the explaination, I appreciate it :heart:

[2022-11-30 23:14] atqhg23 commented on #129
The issue with using the root volume attach time is that the root volume can be replaced which would return the wrong time if it had been replaced.

I checked with AWS on this, and it seems like the best approach would be to use the attach time of the instance's primary ENI since the primary ENI cannot de detached or deleted until the EC2 instance is deleted as well. The primary ENI can be identif

[2022-11-30 23:30] mlevit commented on #129
Thanks for that info @atqhg23. I've made the change within https://github.com/servian/aws-auto-cleanup/tree/better-ec2-launch-time

Mind testing it out for me? 😄